.adiv{
    background-color:green;
    border:2px solid red;
    width:400px;
    height: 300px;
};
.bdiv{
    background-color:rgb(0, 0, 0);
    border:2px solid red;
    width:100px;
};
.cdiv{
    background-color:rgb(243, 10, 10);
    border:2px solid red;
    width:100px;
};
.ediv{
    background-color:rgb(31, 190, 204);
    border:2px solid red;
    width:100px;
};
.fdiv{
    background-color:rgb(255, 15, 235);
    border:2px solid red;
    width:100px;
};
.ddiv{
    background-color:rgb(255, 209, 5);
    border:2px solid red;
    width:100px;
};
.row2{
    border: 2px solid red;
}